body {
  font-family: "Calibri", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.widget {
  display: inline-block;
  background-color: white;
  font-size: .8em;
  line-height: 20px;
  font-weight: 200;

  margin: 5px;
  vertical-align: top;
  color: black;

  margin: 20px;
  padding: 0px;
  border: 10px solid black;


  display: inline-block;
  page-break-after: always;

  width:301px;
  height:368px;
  overflow: clip;
  position: relative;
  float: left;
}

[contenteditable="true"].single-line {
  white-space: nowrap;
  overflow: hidden;
} 
[contenteditable="true"].single-line br {
  display:none;

}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}

.widget .header .title {
  font-size: 1.1em;
  vertical-align: middle;
  height: 18px;
  padding: 12px 10px 0px 10px;
}

.widget .header .subtitle {
 padding: 5px 10px 10px;
 border-bottom: 5px solid white;
 height: 14px;
}

.widget [contenteditable="true"]:hover{
  background-color: #f4f4f4;
}

.widget .image {
  border-bottom: 5px solid white;
  height: 107px;
}

.widget .stats{
  position:absolute;
  width: 50px;
  top: 60px;
  right: 0px;
  min-height: 16px;
  overflow:hidden;
  padding: 6px;
  background-color:white;
  /*border: 5px solid white;*/
}

.widget .content {
  padding: 10px;
  overflow: hidden;
}

.buttons{
  font-size: 14px !important;
  line-height: 20px !important;
}

.btn {
  /*min-width: 60px;*/
  padding: 10px;
}

.actions {
  width: 350px;
  float: left;
}

.actions .buttons {
  margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

